{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}

{% if current_user.is_authenticated %}

<h1>Create news</h1>
<br/>
<form method="POST">

    {{ form.hidden_tag() }}
    <label class="form-label" for="name">Enter news headline</label>
    {{ form.name(class="form-control") }}
    <br/>
    <label class="form-label" for="description">Enter news description</label>
    {{ form.description(class="form-control") }}
    <br/>
    {{ form.submit(class="btn btn-secondary", value="Submit") }}
</form>

{% else %}
<h2>In order to access this page you need to <b><a href="{{ url_for('login') }}">Login</a></b></h2>
{% endif %}

{% endblock %}