{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}

{% if current_user.is_authenticated %}

<h1>{{ translations['add_event_post'] }}</h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label class="form-label">{{ translations['title'] }}</label>
            {{ form.title(class="form-control") }}
        </div>
        <br/>
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        <br/>

        <div class="form-group">
            <label class="form-label">{{ translations['content'] }}</label>
            {{ form.content(class="form-control") }}
        </div>
        <br/>

        {{ form.submit(class="btn btn-secondary", rows="15", value=translations['submit']) }}

    </form>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}

<br><br>

{% else %}
<h2>{{ translations['in_order_to_access_you_need_to'] }} <b><a href="{{ url_for('login') }}">{{ translations['login'] }}</a></b></h2>
{% endif %}

{% endblock %}