{% extends 'base.html' %}

{% block content %}

    <h2>Admin Page</h2>

    <form method="POST" action="{{ url_for('search_user') }}" class="form-inline my-2 my-lg-0">
          {{ form.hidden_tag() }}
          <input name="searched" class="form-control mr-sm-2" type="search" placeholder="Search by username" aria-label="Search">
          <button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Search</button>
    </form>

    <hr>

    {% if users %}

        {% for user in users %}
            <div class="shadow p-3 mb-5 bg-body rounded">
                <b><h2>{{ user.username }}</h2></b> <br>
                Name: {{ user.name }} <br>
                Role {{user.role}} <br>
                Email: {{user.email}} <br> <hr>
                <a href="{{ url_for('update', id=user.id) }}" class="btn btn-outline-secondary">Edit</a>
                <a href="{{ url_for('delete', id=user.id) }}" class="btn btn-outline-danger">Delete</a> <br>
            </div>
        {% endfor %}

        <br>

    {% elif message %}

        <h1>{{ message }}</h1>

    {% else %}

        <h1>Search results</h1>

    {% endif %}


{% endblock %}