{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<h1>{{ translations['dashboard'] }}</h1>

<div class="card mb-3" style="border:none;">
  <div class="card-header" style="background-color: #102E45; color: white;">
      {{ translations['dashboard'] }}
  </div>
  <div class="card-body">
    <div class="row">
<!--      <div class="col-md-3">-->
<!--        {% if current_user.profile_pic %}-->
<!--          <img class="img-fluid mb-3" src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" alt="Profile Picture">-->
<!--        {% else %}-->
<!--          <img class="img-fluid mb-3" src="{{ url_for('static', filename='images/default_profile.jpg') }}" alt="Default Profile Picture">-->
<!--        {% endif %}-->
<!--      </div>-->
      <div class="col-md-">
        <ul class="list-group">
          <li class="list-group-item"><strong>{{ translations['role'] }}:</strong> {{ current_user.role }}</li>
          <li class="list-group-item"><strong>{{ translations['username'] }}:</strong> {{ current_user.username }}</li>
          <li class="list-group-item"><strong>{{ translations['name'] }}:</strong> {{ current_user.name }}</li>
          <li class="list-group-item"><strong>{{ translations['email'] }}:</strong> {{ current_user.email }}</li>
          <li class="list-group-item"><strong>{{ translations['language'] }}:</strong> {{ current_user.language }}</li>
          <li class="list-group-item"><strong>{{ translations['gender'] }}:</strong> {{ current_user.sex }}</li>
          <li class="list-group-item"><strong>{{ translations['joined'] }}:</strong> {{ current_user.date_added }}</li>
          <li class="list-group-item"><strong>{{ translations['about'] }}:</strong> {{ current_user.about }}</li>
          <li class="list-group-item"><strong>{{ translations['profile_picture'] }}:</strong> {{ current_user.profile_pic }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mb-3">
  <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-secondary">{{ translations['update_user'] }}</a>
  <a href="{{ url_for('logout') }}" class="btn btn-dark">{{ translations['logout'] }}</a>
</div>

{% endblock %}
