{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}

<div class="log_in_out_wrapper">
    <div class="log_in_out">

        <h1>{{ translations.login }}</h1> <br>
        <p>{{ translations.if_account_not_exists }} <b><a href="{{ url_for('add_user') }}">{{ translations.register }}</a></b> </p> <br>

        <form method="POST">
            {{ form.hidden_tag() }}

            <label for="username" class="form-label" id="username_label">{{ translations.username }}</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="{{ translations.enter_email }}">
            <br/>

            <label for="password" class="form-label" id="password_label">{{ translations.password }}</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="{{ translations.enter_password }}">
            <br/>

            <input type="submit" value="{{ translations.login }}" class="log_reg_button">

        </form> <br><br><br>

    </div>
</div>



{% endblock %}