{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<h1 style="color: white;">News will be displayed here</h1>

<!--<br><br><br>-->

<!--{% for n in news %}-->
<!--    <h2><b>{{ n.name }}</b></h2> <br>-->
<!--    <p>{{ n.description }}</p>-->
<!--    <hr>-->
<!--{% endfor %}-->

<!--{% endblock %}-->
