{% extends 'base.html' %}

{% block content %}
    <br>

    {% if posts %}

    <h2 style="color: white;">Search results for: <b>{{ searched }}</b></h2> <br>

<div class="row">
    {% for post in posts %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card shadow" style="min-height: 500px;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">By: {{ post.poster.name }}</p>
                <div class="overflow-hidden" style="max-height: 315px; overflow-y: auto;">
                    {% if post.image %}
                        <img class="img-fluid" src="{{ url_for('static', filename='images/' + post.image) }}" alt="Event Picture">
                    {% else %}
                        <img src="https://static.wikia.nocookie.net/roblox-phantom-forces/images/a/a9/Photo-here.png/revision/latest?cb=20211117031545" class="img-fluid" alt="Image">
                    {% endif %}
                    <hr>
                    <p class="card-text">{{ post.content|safe }}</p>
                </div>
                <div class="mt-auto">
                    <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary">Read</a>
                    {% if current_user.is_authenticated and (post.poster_id == current_user.id or current_user.id == 20) %}
                        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary">Edit</a>
                        <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    {% else %}

    <h2 style="color: white;">Couldn't find anything on: <b>{{ searched }}</b></h2>

    {% endif %}

{% endblock %}